@{
    ViewData["Title"] = "Data Import";
}

<div class="text-center">
    <h1 class="pl-2 display-4" style="background-image: url(/img/FreeVector-Free-Football-Vector.jpg); background-size: contain; background-repeat: no-repeat; height: 1200px; color: black; font-weight: bold; background-size: cover;">
        You import the data successfully!
    </h1>
</div>
