@using FootballMatchesWebApp.Application.Models.Fixtures

@model FootballMatchesWebApp.Application.Models.DataImport.ImportDataFormViewModel



<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Import Data for Generation a New Statistic</h3>
    </div>
    <form role="form" class="form-horizontal" method="post">
          <div class="card-body">
 <div class="form-group">
                            <label asp-for="LeagueId">League</label>
                            <select asp-for="LeagueId" asp-items="@(new SelectList(ViewBag.Leagues, nameof(LeagueListViewModel.LeagueId), nameof(LeagueListViewModel.LeagueName)))" class="form-control custom-select">
                                <option selected="" disabled="">Select one</option>
                            </select>
                            <span asp-validation-for="LeagueId" class="text-danger"></span>
                        </div>
                  <div class="form-group">
                        <label asp-for="@Model.Season">Season</label>
                        <input asp-for="@Model.Season" min="2010" max="2021" class="form-control" />
                         <span asp-validation-for="Season" class="text-danger"></span>
                    </div>
                       </div>
        <div class="card-footer">
            <button type="submit" id="roles" class="btn btn-outline-primary">Import Data</button>
        </div>
    </form>
</div>
