
@using FootballMatchesWebApp.Application.Models.Teams
@model IEnumerable<TopTeamViewModel>
@{
    ViewData["Title"] = "Teams";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Top Teams</h3>
                <div class="card-tools">
                     
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Goals</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in @Model)
                        {
                            <tr>
                                <td>@team.Name</td>
                                <td>@team.Goals</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

